
/* Menu bar right of settings */
#settings{
    position: fixed;
    background: #aaa;
    width: 130px;
    padding: 10px;
    top: 0;
    height: 100%;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    overflow-y: auto; 
    overflow: initial;
}
.settingsShow{
    right: 0;
}
.settingsHide{
    right: -140px;
}
.buttonAddElement{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 13px;
    border: 1px solid #fff;
    color: #fff;
    margin: 8px 0;
}
.settingsButton {
    color: #94a;
    border: 1px solid #94a;
}
#searchSetting{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
    padding: 3px 6px;
    color: #fff;
    outline: transparent;
}
#searchSetting::placeholder {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
}
#searchSetting:focus {
    border-bottom: 1px solid #fff;
}
#iconCloseSettings{
    position: absolute;
    left: -31px;
    padding: 5px 9px;
    top: 0;
    background: #aaaaaa;
    border: 2px solid #aaaaaa;
    color: #fff;
}


/* General draggable elements */
.minux_draggable{
    width: 240px;
    position: absolute;
    /*border: 1.5px solid #aaa;
    touch-action: none;
    user-select: none;
    box-sizing: border-box;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    */
    touch-action: none;
    box-sizing: border-box;
}
.minux_draggable:hover, .minux_draggable:focus{
  border: 1.5px solid #aaf;
} 
/*.minux_draggable:focus ~ #formatItemText, #formatItemText>*:focus, #formatItemText:focus  {
    visibility: visible !important;
} */



/* Elements */
.createdTxt{
    background-color: #fff;
    color: #aaa;
    padding: 12px;
}

.createdInp{
    background-color: #fff;
    color: #888;
    padding: 7px 12px;
    border: 0.5px solid #777;
}

.createdImg{
    background-color: #fff;
    padding: 0;
}
.imageLineStoked{
    stroke-width: 1.5px;
    stroke: #888;
}

.createdButton{
    width: 100px;
    background: #fff;
    border: solid 1px #888;
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    color: #404040;
}

.buscador{
    width: 120px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
.buscador i{
    float: right;
}

.createdLineHorizontal{
    border-bottom: 1px solid #bbb;
}
.createdLineVertical{
    height: 200px;
    width: 11px;
    border-left: 1px solid #bbb;
}
.createdLineL1{
    height: 100px;
    width: 100px;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
}
.createdLineL2{
    height: 100px;
    width: 100px;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
.createdLineL3{
    height: 100px;
    width: 100px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.createdLineL4{
    height: 100px;
    width: 100px;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.createdCircle{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #fff;
}







/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 6px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #aaa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;color: #fff}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
